# local developmetn postgres container, docker compose create this db automaticaly
DATABASE_URL=postgresql://torbit_user:torbit_password@localhost:5432/torbit_local

# used for google auth
GOOGLE_CLIENT_ID=xxxxxxxx

# for password hashing
JWT_SECRET=tahaskeysupersecretone

# to help you save hours for bypassing otp
NODE_ENV=development   # otherwise will be considered as production,


# google otp sender -- currently using gmail for sendign otps
SMTP_USER=example@gmail.com
SMTP_PASS=your-18-character-passkeyafter-enabling-APP_PASS