# Ignore the heavy modules folder
node_modules/

# Ignore your secrets
.env

# Ignore system files
.DS_Store
dist/
build/

todo.md
/generated/prisma
/src/generated/prisma

# Prisma AI Agent Skills
.claude/skills/
.windsurf/skills/
.agents/skills/
skills-lock.json
